/* Reset */
*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    display: flex;
    width: 100dvw;
    height: 100dvh;

}

h1{
    display: flex;
    text-align: center;
    justify-content: center;
}

.itens-barra{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.itens-barra:hover{
    border-radius: 10px;
    background-color: rgba(255, 68, 0, 0.655)
}

.barra-lateral{
    width: 50px;
    background-color: rgb(53, 14, 53);
    display: flex;
    color: white;
    flex-direction: column;
    padding: 20px 0px;
    border-top: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
}

.barra-lateral:hover{
    width: 200px;
}

.header-barra{
    display: flex;
}

.header-barra > h3{
    margin-top: 5px;
}

.header-barra > img {
    width: 50px;
    padding: 0px 10px;
    border-radius: 30%;
    object-fit: cover;

}

